{{template "base" .}}

{{define "title"}}О НАС{{end}}

{{define "main"}}
    <section class="services">
        <div class="container">
            <div class="services__box">
                <h2 class="services__title">О НАС</h2>
                <p class="about">Все виды сантехнических услуг, позвоните нам, чтобы уточнить нужную Вам услугу!
                    Пенсионерам и инвалидам скидка 10% на все услуги.</p>
                <ul class="services__ul">
                    <li>ОПЕРАТИВНОСТЬ</li>
                    <li>ДОСТУПНОСТЬ</li>
                    <li>ОТВЕТСТВЕННОСТЬ</li>
                    <li>ОПЫТ РАБОТЫ</li>
                    <li>РЕМОНТ САНТЕХНИКИ</li>
                    <li>УСТАНОВКА ВАННЫ</li>
                    <li>УСТАНОВКА ВОДОСЧЕТЧИКОВ</li>
                    <li>И МНОГОЕ ДРУГОЕ...</li>
                </ul>
            </div>
        </div>
    </section>
{{end}}