{{template "base" .}}

{{define "title"}} НАШИ ПЛЮСЫ {{end}}

{{define "main"}}
    <section class="services">
        <div class="container">
            <div class="services__box">
                <h2 class="services__title">НАШИ ПЛЮСЫ:</h2>
                <ul class="services__ul">
                    <li>ОПЕРАТИВНОСТЬ</li>
                    <li>ДОСТУПНОСТЬ</li>
                    <li>ОТВЕТСТВЕННОСТЬ</li>
                    <li>ОПЫТ РАБОТЫ</li>
                    <li>РЕМОНТ САНТЕХНИКИ</li>
                    <li>УСТАНОВКА ВАННЫ</li>
                    <li>УСТАНОВКА ВОДОСЧЕТЧИКОВ</li>
                    <li>И МНОГОЕ ДРУГОЕ...</li>
                </ul>
            </div>
        </div>
    </section>
{{end}}